@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
  overflow: auto;
}

#app {
  width: 100vw;
  height: 100vh;
  background: rgba(52, 53, 65, 0.8);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

#chat_container {
  flex: 1;
  width: 100%;
  max-width: 600px;
  height: 100%;
  overflow-y: scroll;
  background: rgba(64, 65, 79, 0.8);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

button.connect {
  padding: 20px 40px;
  border-radius: 50px;
  margin-bottom: 10px;
  font-size: 20px;
  outline: none; /* Remove outline */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

button.connect:hover {
  background-color: #007bff; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
}

header {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

header h1 {
  font-size: 2em;
}

form {
  display: flex;
  width: 100%;
  max-width: 600px;
  background: rgba(64, 65, 79, 0.8);
  border-radius: 10px;
  padding: 10px;
}

textarea {
  flex: 1;
  color: #fff;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  resize: none;
  font-size: 20px; /* Increase font size */
}



button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

form img {
  width: 30px;
  height: 30px;
}

#toggle-mic img {
  width: 30px;
  height: 30px;
}


form {
  display: flex;
  align-items: center; /* Align items vertically */
}

form img {
  width: 40px; /* Increase icon size */
  height: 40px;
}

#toggle-mic img {
  width: 40px;
  height: 40px;
}

form button {
  margin-left: 10px; /* Add margin to the left of each button */
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
}


#toggle-mic.active {
  background-color: #ff0000; /* Change to your preferred color */
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.profile img {
  width: 50px; /* Increase image size */
  height: 50px;
  background: slategrey;
  border-radius: 30px;
}


.wrapper {
  background-color: #007bff; /* Set background color for user messages */
  color: #fff; /* Set text color for user messages */
}

.wrapper.ai {
  background-color: #f8f9fa !important; /* Set background color for bot messages */
  color: #343a40; /* Set text color for bot messages */
}

.chat {
  display: flex;
  align-items: center;
}

.profile img {
  margin-right: 10px; /* Add some space between the image and the text */
}